[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/pynxtools-spm"]
	path = packages/pynxtools-spm
	url = git@github.com:FAIRmat-NFDI/pynxtools-spm.git
[submodule "packages/pynxtools-apm"]
	path = packages/pynxtools-apm
	url = git@github.com:FAIRmat-NFDI/pynxtools-apm.git
[submodule "packages/pynxtools"]
	path = packages/pynxtools
	url = git@github.com:FAIRmat-NFDI/pynxtools.git
[submodule "packages/pynxtools-xps"]
	path = packages/pynxtools-xps
	url = git@github.com:FAIRmat-NFDI/pynxtools-xps.git
[submodule "packages/pynxtools-raman"]
	path = packages/pynxtools-raman
	url = git@github.com:FAIRmat-NFDI/pynxtools-raman.git
[submodule "packages/pynxtools-igor"]
	path = packages/pynxtools-igor
	url = git@github.com:FAIRmat-NFDI/pynxtools-igor.git
[submodule "packages/pynxtools-ellips"]
	path = packages/pynxtools-ellips
	url = https://github.com/FAIRmat-NFDI/pynxtools-ellips.git
[submodule "packages/pynxtools-mpes"]
	path = packages/pynxtools-mpes
	url = https://github.com/FAIRmat-NFDI/pynxtools-mpes.git
[submodule "packages/pynxtools-xrd"]
	path = packages/pynxtools-xrd
	url = https://github.com/FAIRmat-NFDI/pynxtools-xrd.git
[submodule "packages/pynxtools-camels"]
	path = packages/pynxtools-camels
	url = https://github.com/FAIRmat-NFDI/pynxtools-camels.git
[submodule "packages/pynxtools-em"]
	path = packages/pynxtools-em
	url = https://github.com/FAIRmat-NFDI/pynxtools-em
[submodule "packages/test-north"]
	path = packages/test-north
	url = git@github.com:RubelMozumder/test-north.git
[submodule "packages/nomad-tajine-plugin"]
	path = packages/nomad-tajine-plugin
	url = git@github.com:FAIRmat-NFDI/nomad-tajine-plugin.git
[submodule "packages/nomad-north-jupyter"]
	path = packages/nomad-north-jupyter
	url = git@github.com:FAIRmat-NFDI/nomad-north-jupyter.git
[submodule "packages/spmpy"]
	path = packages/spmpy
	url = git@github.com:kogens/spmpy.git
[submodule "packages/pyspm"]
	path = packages/pyspm
	url = git@github.com:scholi/pySPM.git
[submodule "nomad-north-nionswift"]
	path = nomad-north-nionswift
	url = https://github.com/FAIRmat-NFDI/nomad-north-nionswift
[submodule "packages/nomad-north-nionswift"]
	path = packages/nomad-north-nionswift
	url = https://github.com/FAIRmat-NFDI/nomad-north-nionswift
[submodule "packages/nomad-north-pyiron"]
	path = packages/nomad-north-pyiron
	url = git@github.com:FAIRmat-NFDI/nomad-north-pyiron.git
[submodule "packages/nomad-north-fiji"]
	path = packages/nomad-north-fiji
	url = git@github.com:FAIRmat-NFDI/nomad-north-fiji.git
[submodule "packages/nomad-north-apmtools"]
	path = packages/nomad-north-apmtools
	url = git@github.com:FAIRmat-NFDI/nomad-north-apmtools.git
[submodule "packages/nomad-north-vesta"]
	path = packages/nomad-north-vesta
	url = git@github.com:FAIRmat-NFDI/nomad-north-vesta.git
[submodule "packages/nomad-north-emtools"]
	path = packages/nomad-north-emtools
	url = git@github.com:FAIRmat-NFDI/nomad-north-emtools.git
[submodule "packages/nomad-north-voila"]
	path = packages/nomad-north-voila
	url = git@github.com:FAIRmat-NFDI/nomad-north-voila.git
